body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(48, 48, 48);
  color: white;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App img {
  width: 50%;
}

.App .form-group {
  margin-bottom: 1em;
}

.App label {
  display: block;
  margin-bottom: 5px;
}

.App a {
  margin-top: 15px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.App a:hover {
  color: gray;
}
